nav {
    display: inline-block
}

nav ul {
    display: inline-block
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}

header > img {
    display: inline-block;
}

body {
    width: 900px;
    margin:  0 auto;
}


section {
    width: 700px;
    display: inline-block;
    vertical-align: top;

}

aside {
    width: 180px;
    display: inline-block;
    margin-right: 15px;
}


.ingredients-list li{
    margin-top: 15px;
    margin-bottom: 15px;
}

#directions + ol li{
    margin-top: 15px;
    margin-bottom: 15px
}

label {
    display: block
}


