<div class='col'>
  <section class='col-1'>
    <p class='title'>Launching the New React/Redux Curriculum</p>
    <p>By APP ACADEMY INSTRUCTIONAL TEAM</p>
    <p>
      It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
    </p>
    <p>
      The whole state of your app is stored in an object tree inside a single store.
      The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
    </p>
    1738 Comments
  </section>

  <section class='col-2'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
    <caption>Warning: This video will make you want to change your career</caption>
  </section>

  <section class='col-2'>
    <p class='title'> THIS IS A TITLE</p>

    <section class = 'col-1 flex-test'>
      <p class='title'> Where Are They Now? <p>
        <p>By APP ACADEMY ALUMNI</p>
        <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
      </section>

      <section class = 'col-1 flex-test'>
        <p class='title'>Cat Academy</p>
        <p>By APP ACADEMY DIRECTOR OF PRODUCTS</p>
        <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
      </section>
    </section>
  </div>
